{{!-- Post Access CTA --}}
<div class="post-access-cta {{visibility}}">
  <h3 class="paid">{{t "This post is for paid members only"}}</h3>
  <h3 class="members">{{t "This post is for members only"}}</h3>
  <a class="btn btn--brand btn--rounded m-b-lg" href="/signup/">{{t "Subscribe"}}</a>
  <div class="small">{{t "Already have an account?"}} <a class="post-access-alt" href="/signin/">{{t "Sign in"}}</a></div>
</div>